#top.warranty {
    position: relative;
    background: no-repeat center / cover;
    background-image: url("/images/warranty/top/shadow.png"),
        url("/images/warranty/top/bg.jpg");
    height: 365px;

    .container {
        position: relative;
        top: 200px;
        transform: translateY(-50%);

        .title {
            color: $white;

            &::before,
            &::after {
                background-color: $white;
            }
        }
    }
}
