#gallery.product {
  background-image: linear-gradient($dark-blue 50%, $white 50%);
  padding: 60px 0 25px;
  overflow: hidden;

  @media #{$min-sm} {
    padding-top: 100px;
  }

  @media #{$min-md} {
    padding-top: 150px;
  }

  @media #{$min-lg} {
    padding-top: 190px;
  }

  .container-xxl {
    width: 100%;
    max-width: 2000px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .title {
    margin-bottom: 30px;
    color: $white;

    @media #{$min-sm} {
      margin-bottom: 50px;
    }
  
    @media #{$min-md} {
      margin-bottom: 80px;
    }
  
    &::before, &::after {
      background-color: $white;
    }
  }

  .owl-carousel {
    .owl-stage-outer {
      overflow: visible;
    }

    .item {
      margin-bottom: 30px;
      transition: transform .4s;
      transform: scale(0.85);

      @media #{$min-sm} {
        margin-bottom: 50px;
      }
    
      @media #{$min-md} {
        margin-bottom: 70px;
      }
  
      @media #{$min-lg} {
        transform: scale(0.8);
      }
    }

    .active {
      .item {
        transform: scale(1);
      }
    }

    .owl-nav {
      position: absolute;
      top: calc(50% - 55px / 2);
      right: 60px;
      transform: translateY(-50%);

      @media #{$min-sm} {
        top: calc(50% - 75px / 2);
        right: 100px;
      }
    
      @media #{$min-md} {
        top: calc(50% - 95px / 2);
        right: 150px;
      }

      @media #{$min-lg} {
        right: 200px;
      }
    
      @media #{$min-xl} {
        right: 250px;
      }

      .owl-prev {
        display: none;
      }

      .owl-next {
        @extend .button;
        padding: 18px 43px !important;
        transform: translateX(50%);

        &:hover, &:focus-visible {
          background-color: $white;
          padding: 18px 23px !important;

          path {
            stroke: $red;
          }
        }      
      }
    }

    .owl-dots {
      text-align: center;

      .owl-dot {
        width: 20px;
        height: 20px;
        margin: 0 5px;
        border: 2px solid $navy;
        border-radius: 50%;

        &:focus {
          outline: none;
        }

        &:focus-visible {
          border-color: $red;
        }

        &.active {
          background: radial-gradient($navy 5px, $transparent 5px);

          &:focus-visible {
            background: radial-gradient($red 5px, $transparent 5px);
          }
        }
      }
    }
  }
}
